html,
body {
  height: 100%;
  margin: 0;
  color: #fff;
  background-color: #141414;
  overflow: hidden;
  touch-action: pan-x pan-y; 

  #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

*,
html,
body {
  scrollbar-width: thin !important;
  scrollbar-color: rgba(255, 255, 255, 0.25) #1d1d1d !important;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  display: block !important;
}

::-webkit-scrollbar-track {
  background-color: #1d1d1d !important;
  border-radius: 4px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25) !important;
  border-radius: 4px !important;
  background-clip: padding-box !important;
  border: 1px solid #1d1d1d !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 255, 255, 0.3) !important;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 255, 255, 0.35) !important;
}